<?php
    $this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
?>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<div class="row">
    <div class="tab-content">
            <div class="tab-pane active" id="demo">
                <?php if($this->key){ ?>
                    <div class="snep-body-top-buttons">
                        <div class="snep-body-search">
                            <?php if($this->key){
                                echo "";
                                ?>
                                <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>
    <form id="defaultForm" method="post" class="form-horizontal" style="margin-top: 0px;" action="<?php echo $this->url(array("module" => "loguser", "controller" => "loguser", "action" => "index"), null, true); ?>" METHOD="post">

        <fieldset>
            <legend><?php echo $this->translate("Period");?></legend>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("From");?></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type='text' class="snep-datetimepicker form-control" id='initDay' name="initDay" required/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("To");?></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type='text' class="snep-datetimepicker form-control" id='finalDay' name="finalDay" required/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>

                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>

            <legend><?php echo $this->translate("Category");?></legend>

            <div class="form-group">
                <label class="col-sm-3 control-label"><?php echo $this->translate("Category Groups");?></label>
                <div class="col-sm-4">
                    <select class="form-control" name="selectAct" id="selectAct">
                        <?php foreach($this->groups as $key => $group){ ?>
                            <option value="<?php echo $key;?>"><?php echo $group?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

        </fieldset>
        <div class="snep-body-footer-buttons">
           <button type="submit" class="btn btn-add" name="showreport" value="showreport"><?php echo $this->translate("Show Report");?></button>
        </div>
        <br />
    </form>
</div> <!-- /.row -->

<script type="text/javascript">

jQuery.noConflict();
jQuery(function () {

    jQuery('#initDay,#finalDay').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        format: 'YYYY-MM-DD',
        showClear: true,
        showClose: true
    });

    jQuery("#initDay").on("dp.change",function (e) {
        jQuery('#finalDay').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#finalDay").on("dp.change",function (e) {
        jQuery('#initDay').data("DateTimePicker").maxDate(e.date);
    });
});


</script>
