<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate('By Status Call')?>
            </div>

            <div id="piechart" style="height: 300px;"></div>
 
        </div>
    </div> 

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate('By Type of Tag')?>
            </div>

            <div id="piechart2" style="height: 300px;"></div>
 
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate('Status By Period')?>
            </div>

            <div id="chart_div" style="height: 300px;"></div>
 
        </div>
    </div>

</div>



<script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  
  // by status call
  google.charts.setOnLoadCallback(drawChartTotals);
  function drawChartTotals() {

    var data = google.visualization.arrayToDataTable([
      ['<?php echo $this->translate("Status"); ?>', '<?php echo $this->translate("Quantity"); ?>'],
      ['<?php echo $this->translate("Answered"); ?>', <?php echo $this->totals->ANSWERED ?>],
      ['<?php echo $this->translate("No Answer"); ?>', <?php echo $this->totals->NOANSWER ?>],
      ['<?php echo $this->translate("Busy"); ?>',  <?php echo $this->totals->BUSY ?>],
      ['<?php echo $this->translate("Failed"); ?>', <?php echo $this->totals->FAILED ?>]
    ]);

    var options = {
      slices: {
        0: { color: '#5cb85c' },
        1: { color: '#d9534f' },
        2: { color: '#f0ad4e' },
        3: { color: '#777' }
      },
      pieSliceText: 'value-and-percentage'
    };

    var chartTotals = new google.visualization.PieChart(document.getElementById('piechart'));

    chartTotals.draw(data, options);
  }
      
  // by type of cost center
  google.charts.setOnLoadCallback(drawChartType);
  function drawChartType() {

    var data = google.visualization.arrayToDataTable([
      ['<?php echo $this->translate("Tag"); ?>', '<?php echo $this->translate("Quantity"); ?>'],
      ['<?php echo $this->translate("Incoming"); ?>', <?php echo $this->type->E ?>],
      ['<?php echo $this->translate("Outgoing"); ?>', <?php echo $this->type->S ?>],
      ['<?php echo $this->translate("Other"); ?>',  <?php echo $this->type->O ?>]
    ]);

    var options = {
      slices: {
        0: { color: '#5cb85c' },
        1: { color: '#d9534f' },
        2: { color: '#f0ad4e' }
      },
      pieSliceText: 'value-and-percentage'
    };

    var chartType = new google.visualization.PieChart(document.getElementById('piechart2'));

    chartType.draw(data, options);

  }

  // status by period
  google.charts.setOnLoadCallback(drawChartPeriod);
  function drawChartPeriod() {

    <?php 
    $values = [];

    foreach($this->calldate as $date => $call){
                    
        (isset($call->ANSWERED)) ? $answer = $call->ANSWERED : $answer = 0;
        (isset($call->NOANSWER)) ? $noanswer = $call->NOANSWER : $noanswer = 0;
        (isset($call->BUSY)) ? $busy = $call->BUSY : $busy = 0;
        (isset($call->FAILED)) ? $failed = $call->FAILED : $failed = 0;

        array_push($values, array("period" => $date, "answer" => $answer, "noanswer" => $noanswer, "busy" => $busy, "failed" => $failed));
    }

    $countArrayLength = count($values);
    ?>
    
    var data = new google.visualization.DataTable();
    data.addColumn('string', '<?php echo $this->translate("Period"); ?>');
    data.addColumn('number', '<?php echo $this->translate("Answer"); ?>');
    data.addColumn('number', '<?php echo $this->translate("Noanswer"); ?>');
    data.addColumn('number', '<?php echo $this->translate("Busy"); ?>');
    data.addColumn('number', '<?php echo $this->translate("Failed"); ?>');

    data.addRows([

    <?php
    for($i=0;$i<$countArrayLength;$i++){
        echo "['" . substr($values[$i]['period'],0,5) . "'," . $values[$i]['answer'] . "," . $values[$i]['noanswer'] . "," . $values[$i]['busy'] . "," . $values[$i]['failed'] . "],";
    } 
    ?>
    ]);
    
    var options = {
      colors:['#5cb85c','#d9534f','#f0ad4e','#777'],
      legend: {position: 'bottom'},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}

function isset () {

    var a = arguments,
    l = a.length,
    i = 0,
    undef;

    if (l === 0) {
        throw new Error('Empty isset');
    }

    while (i !== l) {
        if (a[i] === undef || a[i] === null) {
            return false;
        }
        i++;
    }
    return true;
}
</script>

